[Oo]bj/
[Bb]in/
TestResults/
*.sln.ide/
_ReSharper.*/
PublishProfiles/
.vs/
bower_components/
node_modules/
**/wwwroot/lib/
**/wwwroot/
launchSettings.json
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
**/[Cc]ompiler/[Rr]esources/**/*.js
*.log
log.json
log.*.json
*.orig
Library/
.tools/
.artifacts/
.nuget/
.env.sh
build/
.idea/
.tools/**
!.tools/packages.config
.yo-rc.json

# dependencies
/node_modules

# all yarn.lock files, except the real one
yarn.lock
!src/HubExchangeGateway/scripts/yarn.lock

# production
/build

# env files
.env
.env.*
!.env*.template

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.map
**/.sass-cache/
terraform.tfstate*
.terraform/
rebuild.ps1
translation-export
translation-import
**/aws-lambda-tools-defaults.json
Development.ruleset
*.release.cshtml

#Minicover
coverage.json
coverage-hits.txt
coverage-html